home_body{
  background-color: #D3D3D3
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-template-areas: "text lighthouse";
}

#text{
  grid-area: text;
}

#image{
  grid-area: lighthouse;
  width: auto;
  height: auto;
}

p{
  font-style: italic;
  font-size: 20px;
  color: #A9A9A9;
  text-align: justify;
}
