
.Header{
  text-align: center;
  font: Georgia 20px;
  color: #696969;

  margin: 10px;
  padding: 10px;
}
.Lcontainer{

  margin: 10px;
  padding: 5px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;

}
#me{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: center;
}
#jup{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: center;

}
#SS{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  justify-self: center;
}
#resume{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  justify-self: center;
}

.contact{
  text-align: center;
  font: Georgia 10px;
  color: #A9A9A9;

  margin: 10px;
  padding: 20px;
}

.footer{
  border-top: solid #708090 3px;
  text-align: center;
  font: Georgia 7px;
  color: #A9A9A9;
  padding: 5px;
  text-decoration: none;
}
img{
  width: 500px;
  height: 500px;
}


.img_hover{
  position: relative;
  top: 50%;
  width: 500px;
  font: Georgia 20px;
  color: white;
  opacity: 0;
  text-align: center;
  background-color: black;
  transition: .5s ease;
}
.images:hover{
    opacity: .5;
}

.images:hover .img_hover {
    opacity: 1;
}

/*#ho_me{
  position: absolute;
  position: absolute;
  top: 25%;
  left: 75%;
}
#ho_SS{
  position: absolute;
  top: 75%;
  left: 25%;
}
#ho_resume{
  position: absolute;
  top: 75%;
  left: 75%;
}
*/



a{
  color:inherit;
}
li{
  list-style: none;
}
