
.Header{
  text-align: center;
  font: Georgia, 20px;
  color: #696969;
  border-color:#708090;
  border-radius: 2px;
  margin: 10px;
  padding: 10px;
}
.Lcontainer{
  border-color: #708090;
  border-radius: 2px;
  margin: 10px;
  padding: 5px;
  display: grid;
  grid-template-columns: auto 40% 40% auto;
  grid-template-rows: auto 40% 40% auto;
}
#me{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
#jup{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
#SS{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
#resume{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.contact{
  text-align: center;
  font: Georgia, 10px;
  color: #A9A9A9;
  border-color:#708090;
  border-radius: 2px;

  margin: 10px;
  padding: 20px;
}

.footer{
  text-align: center;
  font: Georgia, 5px;
  color: #A9A9A9;
  padding: 5px;
  text-decoration: none;
}
img{
  width: 30px;
  height: 30px;
}
a{
  color:inherit;
}
