
.Header{
  text-align: center;
  font: Georgia 20px;
  color: #696969;

  margin: 10px;
  padding: 10px;
}
.Lcontainer{

  margin: 10px;
  padding: 5px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;

}
#me{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: center;
}
#jup{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: center;

}
#SS{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  justify-self: center;
}
#resume{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  justify-self: center;
}

.contact{
  text-align: center;
  font: Georgia 10px;
  color: #A9A9A9;

  margin: 10px;
  padding: 20px;
}

.footer{
  border-top: solid #708090 3px;
  text-align: center;
  font: Georgia 7px;
  color: #A9A9A9;
  padding: 5px;
  text-decoration: none;
}
img{
  width: 500px;
  height: 500px;
}


.img_hover{
  position: absolute;
  top: 50%;
  left: 50%;
  font: Georgia 10px;
  color: #000000;
  visibility: hidden;
}
img: hover{
    opacity: .5;
}

img: hover .img_hover{
  visibility: visible;
}


a{
  color:inherit;
}
li{
  list-style: none;
}
